html {
  margin: 0 auto;
 }

body {
  margin: 0 auto;
  font-family: 'Playfair Display', serif;
}

.textWrapper {
  width: 100vw;
  position: absolute;
  top: 0;
  z-index: 999;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.text {
  font-size: 15vw;
  font-weight: 200;
  margin-top: -6vh;
  
  border-radius: 10px;
  padding-left: 1vh;
  padding-right: 1vh;
}

.occurrenceWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  height: auto;
  padding: 5vw;
} 

.top {
  position: relative;
  height: 100vh;
  z-index: 0;
}
.occurance {
  font-size: 1.38vh;
  font-weight: 200;
  margin-left: 0.5vw;
  
  color: red;
}
button {
  border: none;
  outline: none;
  background: white;
  font-size: 2rem;
  font-weight: 100;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 2rem;
  font-weight: 200;

}

input {
  border: none;
  outline: none;
  font-size: 3rem;
  text-align: center;
  font-family: 'Playfair Display', serif;

}

.introWrapper{
  margin-top: -5vh;
}

.intro {
  width: 60vw;
  margin: 0 auto;
  margin-bottom: 10vh;
  color: grey
}

.btn {
  font-weight: 200;
  font-family: 'Playfair Display', serif;

}